.red {
    color: red;
}

.red:hover {
    transition: .5s;
    color: rgb(157, 0, 0);
}

a:hover {
    text-decoration: none !important
}

.date {
    color: black;
    font-size: 12px;
    opacity: .5;
    font-weight: bold;
}

.o-5 {
    opacity: .5;
}

.text-view {
    background-color: rgb(240, 240, 240);
    outline: none;
    box-shadow: none;
    border: none;
    width: 100%;
    padding: 2%;
    font-weight: bold;
}

.bg-white {
    background-color: rgba(255, 255, 255, 0.329);
}